<section class="d5ecb" data-actor-id="{{actor.id}}" data-player-view="{{playerView}}" aria-label="{{localize "CRAFTINGTABLE.CraftingTable"}}" aria-busy="{{#if craftingInProgress}}true{{else}}false{{/if}}">
  <header data-application-part="header"></header>
  <div class="d5ecb__layout">
    <aside data-application-part="categories"></aside>
    <main data-application-part="recipes"></main>
    <article data-application-part="details"></article>
  </div>
</section>
